body {
    width: 100%;
    
    margin: 0;
}

#page_game {
    display: none;
}

#game {
    display: none;
    background-color: #676767;
}

#game_navbar {
    width: 100%;
    height: 4rem;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;    
}

.game_brand {
    flex-grow: 1;
}

.navbar_search {
    flex-grow: 3;
}

.navbar_home {
    flex-grow: 5;
}

.navbar_toggle {
    position: relative;
    flex-grow: 1;
}

.navbar_toggle_btn {
    cursor: pointer;
}

.navbar_toggle_item {
    position: absolute;
    background-color: white;
}

#begin {
    width: 100%;
    height: 100%;  
    margin: 3rem auto;
}

.quizz_search {
    width: 100%;
    height: 10rem;
}

.quizz_search_container {
    width: 60%;
    height: 90%;
    background-color: white;
}

#login_status {
    width: 30%;
    height: 90%;
    background-color: white;
    margin-left: 2rem;
}

.quizz_introdution {
    width: 100%;
    height: 20rem;
    background-color: white    ;
    flex-direction: column;
    margin: 4rem auto;
}

.copyright {
    width: 100%;
    height: 16rem;
    background-color: white    ;
    margin: 4rem auto;
}

/* LOGIN CSS */

#login {
    width: 100%;
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
    background: url(/assets/imgs/login-bg.jpg) no-repeat center;
    background-size: cover;
}

.login_form {
    background-color: white;
    max-width: 480px;
    width: 100%;
    height: 30rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.login_label {
    margin:  4rem auto 1rem auto;
}

.login_form_main {
    width: 75%;
}

.login_input > input {
    box-sizing: border-box;
    width: 100%;
    font-size: 1.4rem;
    background-color: #dedede;
    border-radius: 4px;
    padding: 2rem 6px 6px 6px;
}
.placeholder {
    transform: translate(10%,-180%);
    line-height: 1.6rem;
    font-weight: 500;
}


