
:root {
    --disable_color: #d0d0d0;
}

body {
    width: 100%;
    margin: 0;
}

#page_game {
    display: none;
}

#game {
    display: block;
    background-color: #dfdfdf;
}

#game_navbar {
    width: 100%;
    height: 4rem;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;    
}

.game_brand {
    flex-grow: 1;
}

.navbar_search {
    flex-grow: 3;
    position: relative;
}

.navbar_search_result {
    background-color: crimson;

}

.navbar_home {
    flex-grow: 5;
}

.navbar_toggle {
    position: relative;
    flex-grow: 1;
}

.navbar_toggle_btn {
    cursor: pointer;
}

.navbar_toggle_item {
    position: absolute;
    background-color: white;
}

#begin {
    width: 100%;
    height: 100%;  
    margin: 3rem auto;
}

.quizz_search {
    width: 100%;
    height: 10rem;
}

.quizz_search_container {
    width: 60%;
    height: 90%;
    background-color: white;
}

#login_status {
    width: 30%;
    height: 90%;
    background-color: white;
    margin-left: 2rem;
}

.quizz_subject {
    width: 100%;
    height: 10rem;
    background-color: white;
}

.quizz_subject_item {
    background-color: yellow;
    width: 80%;
    height: 100%;
    margin: 0 1rem;
}

.quizz_introdution {
    width: 100%;
    height: 20rem;
    background-color: white    ;
    flex-direction: column;
    margin: 4rem auto;
}

.copyright {
    width: 100%;
    height: 16rem;
    background-color: white    ;
    margin: 4rem auto;
}

/* LOGIN CSS */

#login {
    display: none;
    width: 100%;
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
    background: url(/assets/imgs/login-bg.jpg) no-repeat center;
    background-size: cover;
}

.login_form {
    background-color: white;
    max-width: 480px;
    width: 100%;
    max-height: 40rem;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
    box-shadow: 1px;
}

.login_label {
    margin:  4rem auto 1rem auto;
}

.login_form_main {
    width: 75%;
}

.login_input {
    position: relative;
}

.login_input > input {
    box-sizing: border-box;
    width: 100%;
    font-size: 1.4rem;
    background-color: #dedede;
    border-radius: 4px;
    padding: 2rem 6px 6px 6px;
    border: none;
}
.placeholder {
    position: absolute;
    line-height: 1.6rem;
    font-weight: 500;
    left: 1.2rem;
    top: 1.5rem;
    color:#525252;
}

.login_input > input:focus ~ .placeholder,
.login_input > input:valid ~ .placeholder {
    top: 0.5rem;
    left: 8px;
}

.login_acc {
    margin-bottom: 1rem;
}

.login_save_box {
    margin-top: 1rem;
}

.login_button {
    width: 20%;
    height: 4rem;
    background-color: #FF7373;
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 15%;
    margin-top: 2rem;
}

.login_button > i {
    margin-top: 18%;
    font-size: 2rem;
}

.login_button:hover {
    background-color: #fb5858;
    cursor: pointer
}

.login_forget_pwd {
    font-size: 0.8rem;
    font-weight: bold;
    margin-top: 1.5rem;
    padding-bottom: 0.6rem;
    color: var(--disable_color);
}

.login_sign_up {
    font-weight: bold;
    color: var(--disable_color);
    padding-bottom: 2rem;
}

.login_sign_up:hover,
.login_forget_pwd:hover {
    color: #525252;
    cursor: pointer;
}

.login_with_social {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
}

.login_with_social div {
    margin: 0 1rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    background-color: var(--disable_color);
}

.login_with_social div i {
    padding: 0 0.6rem;
}
.login_with_social div span {
    color: #656363;
    padding: 0 0.6rem;
}

.login_with_social_fb:hover {
    background-color: #385898;
}

.login_with_social_fb:hover .fa-facebook {
    color: white;
}   
.login_with_social_fb:hover .login_with_social_fb_text{
    color: white;
}  

.fa-facebook {
    color: #385898;
}

.fa-google-plus {
    color: rgb(238, 77, 45);
}

.login_with_social_gp:hover {
    background-color: rgb(238, 77, 45);
}

.login_with_social_gp:hover .fa-google-plus {
    color: white;
}   
.login_with_social_gp:hover .login_with_social_gp_text{
    color: white;
}  

#game_play {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: black;
}

.game_play_settings {
    flex-grow: 1;
    background-color: red;
}

.game_play_content {
    flex-grow: 7.4;
    
}

.quizz_question {
    height: 50%;
    background-color: chocolate;
}

.quizz_answer {
    background-color: cornflowerblue;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
}

.quizz_answer span {
    flex-grow: 1;
    margin: 0 2rem;
    height: 80%;
    background-color: white;
}

.game_play_hint {
    flex-grow: 1.5;
    background-color: blue;
}

.game_play_timer {
    flex-grow: 0.1;
    background-color: white;
}

.game_timer {
    width: 100%;
    height: 100%;
    background-color: chartreuse;
}

